<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljx.mapper.StudentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljx.entity.Student">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="sex" property="sex" />
        <result column="phone" property="phone" />
        <result column="stu_id" property="stuId" />
        <result column="college_id" property="collegeId" />
        <result column="course_id" property="courseId" />
        <result column="role_id" property="roleId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, sex, phone, stu_id, college_id, course_id, role_id
    </sql>
    <update id="updateByPhone">
        update student set phone = #{phone} where student.stu_id = #{stuId}
    </update>
    <select id="login" resultType="com.ljx.entity.Student">
        select * from student where no = #{no} and password = #{password}
    </select>

    <select id="pageCC" resultType="com.ljx.entity.StudentCollege">
        select s.*,
               c.college_name
        from student s
                 INNER JOIN college c
                            ON s.college_id = c.id
            ${ew.customSqlSegment}
    </select>

    <select id="getStudentNameByStuId" resultType="java.lang.String">
        select name from student where stu_id = #{studentId}
    </select>

</mapper>
